<div class="container-sm">
  <div class="row d-flex justify-content-around">
    <div class="col-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img9.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/2.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                  <img src="assets/4.jpeg" class="d-block w-100" alt="...">
                </div>
              <div class="carousel-item">
                <img src="assets/5.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                  <img src="assets/img6.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <h6>Labanda Amelia - Izurieta Ginger</h6>
    </div>
  </div>
</div>
