<nav class ="navbar navbar-dark bg-primary">
  <a href="/"class =navbar-brand>EL REINO ANIMAL</a>
  <img src="assets/img5.png"  width="150" height="60" alt="">
</nav>
  <div class ="container">
    <!--con esto angular sabe donde tiene q poner esos componentes de la ruta-->
    <div class ="row">
      <div class ="col-md-8">
        <!--div class ="cards"-->
          <button type="button" class="btn btn-link btn-sm"><a routerLink="/inicio">Inicio</a></button>
            <button type="button" class="btn btn-link btn-sm"><a routerLink="/perros">Perros</a></button>
            <button type="button" class="btn btn-link btn-sm"><a routerLink="/gatos">Gatos</a></button>
            <button type="button" class="btn btn-link btn-Caracte"><a routerLink="/aves">Aves</a></button>
        <!--/div-->
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
