<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h2>AVES</h2>
    </div>
    <div class="col-md-12 d-flex justify-content-around">
      <img src="assets/img10.jpg" width="350" height="200" alt="" class="img-thumbnail">
      <p class="lead text-justify ml-3">
        El perro pertenece a la especie de los cánidos. Su tamaño, forma y pelaje varían en función de la raza de perro. Se caracteriza por tener el olfato y el oído muy desarrollados. Emiten sonidos denominados ladridos. Sus funciones son muy diversas según las cualidades, tamaño y carácter de cada perro. Es un animal inteligente y leal a su amo, de ahí su fama de ser el mejor amigo del hombre.!
      </p>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <h2>VIDEO</h2>
    </div>
    <div class="col-md-12 d-flex justify-content-center mb-3">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/h2EZ70Cv9c4?start=13" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <h6>Labanda Amelia - Izurieta Ginger</h6>
    </div>
  </div>
</div>
